## Dataset Questions

In [3]:
import pandas as pd

data_url = 'https://raw.githubusercontent.com/CUNY-CISC-3225/datasets/main/ljspeech.csv'
df = pd.read_csv(data_url, sep='|')
df.tail(10)

,id,text,text_norm
13090,LJ050-0269,The essential terms of such memoranda might we...,The essential terms of such memoranda might we...
13091,LJ050-0270,This Commission can recommend no procedures fo...,This Commission can recommend no procedures fo...
13092,LJ050-0271,The demands on the President in the execution ...,The demands on the President in the execution ...
13093,LJ050-0272,and the traditions of the office in a democrac...,and the traditions of the office in a democrac...
13094,LJ050-0273,"The Commission has, however, from its examinat...","The Commission has, however, from its examinat..."
13095,LJ050-0274,made certain recommendations which it believes...,made certain recommendations which it believes...
13096,LJ050-0275,materially improve upon the procedures in effe...,materially improve upon the procedures in effe...
13097,LJ050-0276,"As has been pointed out, the Commission has no...","As has been pointed out, the Commission has no..."
13098,LJ050-0277,with the active cooperation of the responsible...,with the active cooperation of the responsible...
13099,LJ050-0278,the recommendations we have here suggested wou...,the recommendations we have here suggested wou...

In [4]:
filter = df['text'] != df["text_norm"] 
df[filter]

,id,text,text_norm
6,LJ001-0007,"the earliest book printed with movable types, ...","the earliest book printed with movable types, ..."
23,LJ001-0024,But the first Bible actually dated (which also...,But the first Bible actually dated (which also...
30,LJ001-0031,In 1465 Sweynheim and Pannartz began printing ...,In fourteen sixty-five Sweynheim and Pannartz ...
33,LJ001-0034,"They printed very few books in this type, thre...","They printed very few books in this type, thre..."
37,LJ001-0038,while in 1470 at Paris Udalric Gering and his ...,while in fourteen seventy at Paris Udalric Ger...
...,...,...,...
13057,LJ050-0236,"Thus, in the 4 months following the assassinat...","Thus, in the four months following the assassi..."
13058,LJ050-0237,"the FBI, on 16 separate occasions, supplied a ...","the FBI, on sixteen separate occasions, suppli..."
13060,LJ050-0239,"From February 11 through June 30, 1964,","From February eleven through June thirty, nine..."
13061,LJ050-0240,"the Service had the advantage of 9,500 hours o...",the Service had the advantage of nine thousand...
13087,LJ050-0266,"The exchange of letters dated August 31, 1964,",The exchange of letters dated August thirty-on...

## DataFrame Practice

In [5]:
df = pd.DataFrame({
    'a': [1, 6, 3, -4, 9, 27],
    'b': [8, 1, 99, 31, 53, 5],
    },
    index=[5, 2, 9, 3, 27, 4]
)

In [10]:
## get row at index 2 and position 2
print(df.loc[2,])
df.iloc[2, :]

a    6
b    1
Name: 2, dtype: int64

a     3
b    99
Name: 9, dtype: int64

In [19]:
# Retrieve the value at row position 3, column index a. Use the row position 2 and column
# name ’a’ specifically. Can you perform this operation within a single indexing operation (i.e., use only
# .loc or .iloc)?

print(df['a'].iloc[2])

## one operation
print(df.iloc[2, 0])

3
3

In [23]:
# Find the smallest value in each column. Then, find the smallest value in each row. Then,
# find the smallest value in the whole DataFrame.

print(df.min(), '\n\n')
print(df.min(axis=1), "\n\n")
print(df.min().min(), "\n\n")

a   -4
b    1
dtype: int64


5     1
2     1
9     3
3    -4
27    9
4     5
dtype: int64


-4

In [27]:
# how many values in column ’a’ are less than 10

df['a'][df['a'] < 10].count()

np.int64(5)

In [28]:
# Retrieve all rows where the value in column ’a’ is less than 10.
df[df['a'] < 10]

    a   b
5   1   8
2   6   1
9   3  99
3  -4  31
27  9  53

In [30]:
# Retrieve all rows where the value in column ’b’ is less than the mean of column ’b’.
b_mean = df['b'].mean()
print(b_mean)

df[df['b'] < b_mean]

32.833333333333336

    a   b
5   1   8
2   6   1
3  -4  31
4  27   5

In [32]:
# Retrieve all rows where the value in column ’b’ is less than the mean of column ’a’.
a_mean = df['a'].mean()
print(a_mean)
df[df["b"] < a_mean]

7.0

    a  b
2   6  1
4  27  5

In [38]:
# Retrieve all columns where the sum is an odd number
cols = []
for col in df.columns:
    if df[col].sum() % 2 == 1:
        cols.append(col)
df[cols]

     b
5    8
2    1
9   99
3   31
27  53
4    5

## Cameras

In [41]:
cameras_url = 'https://raw.githubusercontent.com/CUNY-CISC-3225/datasets/main/cameras.csv'
cameras_df = pd.read_csv(cameras_url)

cameras_df.head()

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price,Brand
0,Canon PowerShot 350,1997,640.0,0.0,0.0,42.0,42.0,70.0,3.0,2.0,320.0,93.0,149.0,Canon
1,Canon PowerShot 600,1996,832.0,640.0,0.0,50.0,50.0,40.0,10.0,1.0,460.0,160.0,139.0,Canon
2,Canon PowerShot A10,2001,1280.0,1024.0,1.0,35.0,105.0,76.0,16.0,8.0,375.0,110.0,139.0,Canon
3,Canon PowerShot A100,2002,1280.0,1024.0,1.0,39.0,39.0,20.0,5.0,8.0,225.0,110.0,139.0,Canon
4,Canon PowerShot A20,2001,1600.0,1024.0,1.0,35.0,105.0,76.0,16.0,8.0,375.0,110.0,139.0,Canon

In [42]:
# average cost of all cameras
cameras_df['Price'].mean()

np.float64(454.94093264248704)

In [43]:
# What is the brand and model name of the most expensive camera? There may be more than one.
cameras_max_price = cameras_df["Price"].max()
cameras_df[cameras_df["Price"] == cameras_max_price]

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price,Brand
45,Canon EOS-1Ds,2002,4064.0,2032.0,11.0,0.0,0.0,0.0,0.0,0.0,1585.0,156.0,7999.0,Canon
46,Canon EOS-1Ds Mark II,2004,4992.0,3600.0,16.0,0.0,0.0,0.0,0.0,0.0,1565.0,156.0,7999.0,Canon
47,Canon EOS-1Ds Mark III,2007,5616.0,4992.0,21.0,0.0,0.0,0.0,0.0,0.0,1385.0,150.0,7999.0,Canon

In [47]:
# Which are more common, below-average-cost cameras or above-average-cost cameras?
print(cameras_df['Price'][cameras_df["Price"] < cameras_df["Price"].mean()].count(), '\n\n\n')
print(cameras_df['Price'][cameras_df['Price'] > cameras_df['Price'].mean()].count())

812



153

In [50]:
# Digital camera technology improved rapidly during 1997-2007 period. Divide the DataFrame into two
# new DataFrames: one with cameras released on or before 2002, and one with cameras released after
# 2002. Then answer the following questions

cameras_2002 = cameras_df[cameras_df['Release date'] <= 2002]
cameras_now = cameras_df[cameras_df['Release date'] > 2002]

cameras_2002.head()

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price,Brand
0,Canon PowerShot 350,1997,640.0,0.0,0.0,42.0,42.0,70.0,3.0,2.0,320.0,93.0,149.0,Canon
1,Canon PowerShot 600,1996,832.0,640.0,0.0,50.0,50.0,40.0,10.0,1.0,460.0,160.0,139.0,Canon
2,Canon PowerShot A10,2001,1280.0,1024.0,1.0,35.0,105.0,76.0,16.0,8.0,375.0,110.0,139.0,Canon
3,Canon PowerShot A100,2002,1280.0,1024.0,1.0,39.0,39.0,20.0,5.0,8.0,225.0,110.0,139.0,Canon
4,Canon PowerShot A20,2001,1600.0,1024.0,1.0,35.0,105.0,76.0,16.0,8.0,375.0,110.0,139.0,Canon

In [51]:
cameras_now.head()

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price,Brand
7,Canon PowerShot A300,2003,2048.0,1600.0,3.0,33.0,33.0,20.0,5.0,32.0,225.0,111.0,139.0,Canon
8,Canon PowerShot A310,2004,2048.0,1600.0,3.0,33.0,33.0,0.0,5.0,0.0,205.0,110.0,139.0,Canon
10,Canon PowerShot A400,2004,2048.0,1600.0,3.0,45.0,100.0,0.0,5.0,16.0,255.0,107.0,139.0,Canon
11,Canon PowerShot A410,2005,2048.0,1600.0,3.0,41.0,131.0,0.0,1.0,16.0,195.0,103.0,139.0,Canon
12,Canon PowerShot A420,2006,2272.0,1600.0,4.0,39.0,125.0,47.0,1.0,16.0,200.0,103.0,139.0,Canon

In [69]:
# On average, did any camera characteristics improve over time? Which ones?
# On average, did any camera characteristics stay about the same? Which ones?
# On average, did any camera characteristics get worse over time? Which ones?

print('Cameras Now\n', cameras_now.iloc[:, 2:-1].mean(), '\n\n\n')

print('Cameras Then \n', cameras_2002.iloc[:, 2:-1].mean())

Cameras Now
 Max resolution             2837.696746
Low resolution             2156.576923
Effective pixels              5.970414
Zoom wide (W)                32.495562
Zoom tele (T)               132.650888
Normal focus range           42.531065
Macro focus range             6.575444
Storage included             20.986686
Weight (inc. batteries)     276.736686
Dimensions                  101.517751
Price                       424.717456
dtype: float64



Cameras Then
 Max resolution             1764.761246
Low resolution             1050.408304
Effective pixels              1.896194
Zoom wide (W)                33.695502
Zoom tele (T)               103.653979
Normal focus range           46.633218
Macro focus range            10.055363
Storage included             11.141869
Weight (inc. batteries)     430.249135
Dimensions                  116.330450
Price                       525.636678
dtype: float64

In [63]:
cameras_df['Pixel Price Ratio'] = cameras_df['Effective pixels'] / cameras_df['Price']
cameras_df.sort_values('Pixel Price Ratio', ascending=False)['Model'].head(10)

374     Kodak DCS SLR/c
362       Kodak DCS 14n
375     Kodak DCS SLR/n
412         Kodak Z1275
613      Olympus FE-300
778     Ricoh Caplio R7
784    Ricoh Caplio GX8
837        Samsung S830
824        Samsung L830
483    Nikon Coolpix P1
Name: Model, dtype: object

In [64]:
cameras_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 965 entries, 0 to 964
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Model                    965 non-null    object
 1   Release date             965 non-null    int64
 2   Max resolution           965 non-null    float64
 3   Low resolution           965 non-null    float64
 4   Effective pixels         965 non-null    float64
 5   Zoom wide (W)            965 non-null    float64
 6   Zoom tele (T)            965 non-null    float64
 7   Normal focus range       965 non-null    float64
 8   Macro focus range        965 non-null    float64
 9   Storage included         965 non-null    float64
 10  Weight (inc. batteries)  965 non-null    float64
 11  Dimensions               965 non-null    float64
 12  Price                    965 non-null    float64
 13  Brand                    965 non-null    object
 14  Pixel Price Ratio        965 non-null    float64
dtypes: float64(12), int64(1), object(2)
memory usage: 113.2+ KB

In [66]:
integer_columns = cameras_df.iloc[:, 2:-1].columns
for col in integer_columns:
    print(col, (cameras_df[col] == 0).sum(), '\n')

Max resolution 1

Low resolution 51

Effective pixels 26

Zoom wide (W) 80

Zoom tele (T) 80

Normal focus range 127

Macro focus range 113

Storage included 113

Weight (inc. batteries) 13

Dimensions 7

Price 0

Brand 0

## Pandas Questions

In [93]:
## Random pandas series object

s = pd.Series([1,2,3,4,5,6])
s.shape

(6,)

In [95]:
s.iloc[3]

np.int64(4)

In [96]:
cameras_df.iloc[1]

Model                      Canon PowerShot 600
Release date                              1996
Max resolution                           832.0
Low resolution                           640.0
Effective pixels                           0.0
Zoom wide (W)                             50.0
Zoom tele (T)                             50.0
Normal focus range                        40.0
Macro focus range                         10.0
Storage included                           1.0
Weight (inc. batteries)                  460.0
Dimensions                               160.0
Price                                    139.0
Brand                                    Canon
Pixel Price Ratio                          0.0
Name: 1, dtype: object